$primary-color: #b2d234;
$secondary-color: #58443d;
$mainMenu-color:#7AA700;
$subMenu-color:#BBCF6E;
$two-li-color:#919191;
$secondary-background: #ffffff;

$color-header:#000000;

$primary-radius: 5px;
$screen-small-min: 320px;
$screen-small-max: 480px;
$screen-medium-min: 768px;
$screen-medium-max: 1024px;
$screen-large-min: 1200px;
$screen-large-max: 2000px;

