<div class="nav-side-menu">
    <div class="brand">{{nameCompany}}</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
                
            <li id="linkHomepage">
                <a [routerLink]="['/homepage']" [routerLinkActive]="['router-link-active']">
                    <i class="fa fa-home fa-lg"></i>Home page
                </a>
            </li>           
        </ul>
    </div>
</div>


